# Python
__pycache__/
*.pyc

# Virtual Environment
venv/

# Environment variables
.env

# Output files
output/
application_history.json
application_history.db

# IDE / Editor specific
.idea/
.vscode/
.DS_Store